/*Colores*/
:root{
    --background: rgb(255, 230, 186);
    --buttons: rgb(220, 220, 220);
    --card-background: white;
}
@media (prefers-color-scheme: dark) {
    :root {
        --background: #1f1f1f;
        --card-background: #2d2d2d;
        --buttons: #444;

        --text: #f2f2f2;
        --text-secondary: #bdbdbd;
        --border: #888;
    }
}

/*Main-general*/
.backgrounds_page{
    min-height: 100vh;
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/*Tarjeta de Clase (Sin extender)*/
.backgrounds_list{
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
    width: 75%;
    margin-top: 30px;
}
.background_card{
    display: flex;
    background-color: var(--card-background);
    flex-direction: column;
    padding: 10px;
    border: solid;
    border-width: 2px;
    margin: 10px;
    justify-content: space-between;
    position: relative; 
    height: auto; 
    cursor: pointer;
    transition: height 0.2s;
}
.background_card_base{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    flex-shrink: 0;    
}
/*Tarjeta de Clase (Extendida)*/
.background_card_expanded {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid rgba(0,0,0,0.2);
}
.background_card_expanded_content {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 8px;
}
.background_card_expanded_abilities{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
}
