.filters_character {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 26px;
    margin: 10px 0 20px 0;
    padding: 10px;
    border-style: solid ;
    border-color: var(--border);
    border-top: 2px;
}

.filters_character--closed{
    padding: 0;
    min-height: 40px;
    border: none;
    background-color: none;
    z-index: 0;
}

.filters_character--closed > *:not(.hide_show_filters_btn) {
    display: none;
}
.filters_character--closed .hide_show_filters_btn{
    right: 33px;
}

.spell_list{
    margin-top: 15px;
    margin-bottom: 20px;
}
