

/*Main-general*/
.classes_page{
    min-height: 100vh;
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/*Tarjeta de Clase (Sin extender)*/
.classes_list{
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
    width: 75%;
    margin-top: 30px;
}
.class_card{
    display: flex;
    background-color: var(--surface);
    flex-direction: column;
    padding: 10px;
    border: solid;
    border-width: 2px;
    margin: 10px;
    justify-content: space-between;
    position: relative; 
    height: auto; 
    cursor: pointer;
    transition: height 0.2s;
}
.class_card_base{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    flex-shrink: 0;    
}
/*Tarjeta de Clase (Extendida)*/
.class_card_expanded {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid var(--separador);
}
.class_card_expanded_content {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 8px;
}
.comp_class_subclasses {
    display: flex;
    gap: 4px;
}

.comp_subclasses_chip {
    border: 1px solid var(--border-background);
    border-radius: 10px;
    padding: 2px 3px;
    cursor: pointer;
    font-size: 0.85rem;

}

.comp_class_saving_throws{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 6px;
}
